$green: #00634B;
$green-hover: #037668;
$dark-green: #0D3934;
$white: #fff;
$second-white: #FEFDFC;
$black: #000;
$background: #FEFDFC;
$light-grey: #4E4E4E;
$ultra-light-grey: #646464;
$border-color: #9A9A9A;

// Fonts
$heading-1: 64px;
$heading-1_mobile: 44px;
$text-size: 18px;
